{% extends 'base.html.twig' %}

{% block title %}Modifier une personne {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title">Modifier la personne</h1>

        <div class="form-container">
            {{ include('personne/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class ="pt-2 back-link">
            <a href="{{ path('app_personne_index') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>
{% endblock %}


