{% extends 'base.html.twig' %}

{% block title %}Nouveaux objets {% endblock %}

{% block body %}
    <h1>Créer un nouvel objet </h1>
    <div class="card p-2">
        {{ include('objets/_form.html.twig') }}
    </div>
<a class="btn btn-secondar btn-sm m-2" href="{{ path('app_objets_index') }}">Retour</a>
{% endblock %}
